[Unit]
Description=WC Live Adonis JS Backend
After=postgresql@15-main.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env node /root/wc-live/wc-backend/build/bin/server.js

[Install]
WantedBy=multi-user.target